body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

header{
	background: rgba(0,0,0,0.88);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding: 0 10%;
	box-sizing: border-box;
	position: fixed;
	top: 0;

}

#menu{
	margin:0;
	padding: 0;
	float: right;
}

#menu li{
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}

#menu li a{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	transition: .2s all;
}

#menu li a:hover{
	color:#4285f4;
}

#banner{
	width: 100%;
	height: 500px;
	background: #ddd;
	margin-top: 55px;
}

#cont-event{
	width: 90%;
	margin: 0 auto;
}
#cont-event h1{
	display: inline-block;
	border-bottom: 4px solid #4285f4;
}

#acordion-event .item-event{
    display: table;
    width: 100%;
    border: 5px solid #ddd;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
    transition: .5s all;
    cursor:pointer;
}

#acordion-event .item-event:hover{
	border-color: #4285f4;
}

#acordion-event .item-event .data{
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}

#acordion-event .item-event .data .day{
    font-weight: 500;
    font-size: 46px;
    line-height: 0px;
    margin-bottom: 0;
    padding-top: 7px;
}
#acordion-event .item-event .data .month{
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
}

#acordion-event .item-event .title{
    width: 40%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}

#acordion-event .content-item-event.show .item-event{
	border-color: #4285f4;
}

.list-event{
	display: none;
}

.content-item-event.show .list-event{
	display: block;
	height: 200px;
}

.list-event .left{
	width: 60%;
	background: #ddd;
	margin-bottom: 10px;
}

.list-event .right{
	width: 40%;
	background: rgba(66, 133, 244, 0.5);
}

.list-event .left,
.list-event .right{
	height: 200px;
	float: left;
}


#artist{
	width: 90%;
	margin: 0 auto;
}

#artist h1{
	display: inline-block;
	border-bottom: 4px solid #4285f4;
}

#artist .content{
	width: 100%;
}

#artist .item{
  background: #ccc;
  width: 22%;
  min-width: 250px;
  height: 250px;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
}

footer{
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  text-align: center;
}


#pop-up{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}

#pop-up .close{
	position: absolute;
	top:10px;
	right:10px;
	cursor: pointer;
}

#content-reserver-evento{
	width: 80%;
	height: 500px;
	background: #fff;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -250px 0 0 -40%;
}